body {
    margin: 0; 
    padding: 0;
}

.main-header{
    height: 65vh;
    color: white;
    background-color: rgba(0,0,0,.6);
    background-image: url("/header-img.jpeg");
    background-blend-mode: multiply;
    background-size:cover;
    padding: 10px;
  }
.header-one{
    text-align: left;
    font-size: 7em;
}

.header-content-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-us-header{
    font-size: 5em;
    text-align: center;
}
.header-content{
    font-size: 1.6em;
    text-align: center;
}
.button-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section {
    margin-top: 0; 
    padding: 20px;
    background-color:rgb(18, 17, 17);
    text-align: right;
}
.text{
    font-size: 4em;
    color: #1fdf64;
    font-style: italic;
    /* #86d5a3 */
}
.styling{
    font-size: 2em;
    color: aliceblue;
}
.texting{
    color: aliceblue;
    font-style: italic;
    padding: 20px;
    background-color:rgb(18, 17, 17);
    margin: 20px auto; 
    max-width: 800px; 
    text-align: center; 
    padding-top: 125px;
    padding-right: 150px;
}
img {
    max-width: 20%; 
    height: auto; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    margin: 20px ; 
    
}

.section-one
{
    height: 65vh;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.image-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 400px;
    width: 700px;

}
.section-img
{
    border: none;
    max-width: 300px;
}
.section-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-two{
    padding: 0;
}
.header-button{
    width: 180px;
    padding: 1em;
    background-color: transparent;
    color: #1fdf64;
    border: 2px solid #1fdf64;
    border-radius: 40px;
    font-size: 1.2em;
    transition: 0.3s ease-in-out;
}
.header-button:hover{
    cursor: pointer;
    color: white;
    background-color: #1fdf64;
}

.section-two{
    height: 65vh;
    background-image: url(/header-img.jpeg);
    background-blend-mode: multiply;
    background-size:cover;
    background-color: rgba(0,0,0,.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-size: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
}
.division{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.styling{
    max-width: 900px;
    text-align: center;
}