@import url('https://fonts.google.com/selection?query=lato');

* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 140vh;
	padding-bottom: 50px;
	margin: 0;
	background-image: url(/images/header-img.jpeg);
  background-repeat: none;
  background-size:cover;
  background-blend-mode:multiply;
  background-color: rgba(0,0,0,.6);
	font-family: lato;
}
.main-nav{
  color: white;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  padding-top: 5px;
  padding: 0px 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; 
}
.nav-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav a{
  display: inline-block;
  margin: .5em;
  color: white;
  text-decoration: none;
}


.nav a:active{
  opacity: 0.5;
}

.nav-item {
  position: relative;
  text-decoration: none; 
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background: white;
  transition: width 0.25s ease-out; 
}

.nav-item:hover::after {
  width: 100%; /* Set the width to 100% when hovering */
}

section{
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
  height: auto;
	width: 400px;
	background-color: #fff;
	padding: 20px;
  border: 2px solid #1fdf64;
  background-color: transparent;
	border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gender-opt
{
  color: black;
}


.signup-form {
	display:flex;
	flex-direction: column;
}

.title {
	text-align: center;
	margin-bottom: 20px;
}


.input-container {
	position: relative;
	margin: 15px 0;
}

.input-field {
	width: 100%;
  height: 45px;
	padding: 5px;
  background-color: transparent;
  color: white;
  border: none;
	border-bottom: 2px solid #1fdf64;
	font-size: 16px;
  transition: 0.3s ease-in-out;
}

.input-field:focus
{
  outline: none;
}
.input-label
{
  color: #1fdf64;
}

.upload-photo{
	display: block;
	padding-bottom: 5px ;
	margin-bottom: 5px;
}
.signup-button {
	padding: 10px;
  margin: 10px 0;
	background-color: transparent;
	color: #1fdf64;
	border: 1px solid #1fdf64;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
  transition: 0.3s ease-in-out;
}

.signup-button:hover{
  background-color: #1fdf64;
  color: white;
}

select.input-field {
	appearance: none;
	-webkit-appearance: none;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 8'><polygon points='0,0 14,0 7,8'/></svg>");
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-size: 12px;
	padding-right: 30px;
}

.login-option {
	text-align: center;
	margin-top: 20px;
	font-size: 14px;
	color: white;
}

.login-option a {
	color: #4CAF50;
	text-decoration: none;
}


@media only screen and (max-width: 768px) {
  .main-header{
    margin-bottom: 230px;
  }
  .hamburger{
    display: block;
    padding-top: 10px;
    padding-right: 10px;
  }
  .hamburger.active .bar:nth-child(2)
      {
        opacity: 0;
      }
      .hamburger.active .bar:nth-child(1)
      {
        transform: translateY(8px) rotate(45deg);
      }
      .hamburger.active .bar:nth-child(3)
      {
        transform: translateY(-8px) rotate(-45deg);
      }
  .nav-content {
    display: none;
  }

  .hamburger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: all 0.3s ease-in-out;
  }

  .container {
    padding: 20px;
  }

  .signup-form {
    max-width: 100%;
  }

  .input-container {
    width: 100%;
    margin-bottom: 15px;
  }

  .input-label {
    margin-bottom: 5px;
  }

  .signup-button {
    width: 100%;
  }

  .login-option {
    text-align: center;
  }
  .container{
    width:300px;
    font-size: 0.8em;
  }
}
